Source: pesco
Section: unknown
Priority: extra
Maintainer: María José Rodríguez Fortíz <mjfortiz@ugr.es>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 1.3.1
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pesco.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pesco.git;a=summary

Package: pesco
Architecture: any
Description: PESCO
 Plataforma de EStimulación COgnitiva. Aplicación de estimulación cognitiva para personas mayores o con problemas cognitivos.


